@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color: #cc5500; padding: 20px; border-radius: 15px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
    <h1 class="display-4" style="font-family: 'Pokemon', sans-serif; color: #FFCB05;">
        PersistentCollector
    </h1>
    <p style="font-family: 'Comic Sans MS', sans-serif; color: #3B4CCA; font-size: 20px;">
        
    </p>
    <div>
        <a href="#" class="btn" style="background-color: #EE273F; color: white; font-size: 18px; margin: 5px; border: 2px solid black;">
            Catch 'Em All!
        </a>
        <a href="#" class="btn" style="background-color: #FFCB05; color: black; font-size: 18px; margin: 5px; border: 2px solid black;">
            View Collection
        </a>
    </div>
</div>