@model FirstMVC.Models.CardCreateEditViewModel

<h2>@(Model.ID == 0 ? "Create New Card" : "Edit Card")</h2>

<form asp-action="@(Model.ID == 0 ? "Create" : "Edit")" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Psa" class="control-label"></label>
        <input asp-for="Psa" class="form-control" />
        <span asp-validation-for="Psa" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BuyDate" class="control-label"></label>
        <input asp-for="BuyDate" class="form-control" />
        <span asp-validation-for="BuyDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CurrentPrice" class="control-label"></label>
        <input asp-for="CurrentPrice" class="form-control" />
        <span asp-validation-for="CurrentPrice" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Specialty" class="control-label"></label>
        <input asp-for="Specialty" class="form-control" />
        <span asp-validation-for="Specialty" class="text-danger"></span>
    </div>

    <!-- Multiselect voor de Collections -->
    <div class="form-group">
        <label asp-for="CollectionName" class="control-label">Select Collection</label>
        <select asp-for="CollectionName" class="form-control" asp-items="ViewBag.CollectionName"></select>
        <span asp-validation-for="CollectionName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>